@font-face { 
    font-family: 'NanumBarunGothic'; 
    font-style: normal; 
    font-weight: 400; 
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } 

/* html, body{
    height: 100%;
} */

/*font 시작*/
body{
    font-family: 'NanumBarunGothic';
    color: rgba(139,140,140,1);
}
p{
    line-height: 1.7em;
    font-size : 1em;
}
div a p{
    font-size : 0.85em;
}
h2{
    font-size : 1.5em;
}
h4{
    font-size : 1.3em;
}
/*font 끝*/

button{
    border-radius: 20px;
}

.background{
    background-image: url("./assets/background_black.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    background-size: 100% 100%;
    background-position: center center;   
}

.title-section{
    height: 70vh;
    /*color: rgba(34, 38, 41, 1);*/
    color: white;
}

.nav-line{
    border-color: white;
}



a { 
    text-decoration: none; 
} 

/* unvisited link */
a:link {
    color: inherit;
    text-decoration: none; 
}

/* visited link */
a:visited {
    color: inherit;
    text-decoration: none; 
}

/* mouse over link */
a:hover {
    color: inherit;
    text-decoration: none; 
}

/* selected link */
a:active {
    color: inherit;
    text-decoration: none; 
}

.nav-item:hover{
    background-color: rgba(29, 32, 35, 1);
}

hr{
    width: 90%;
}

button{
    background-color: rgba(54, 82, 26, 1);
    color: white;
}


/*nav-bar*/
nav{
    background-color: rgba(34, 38, 41, 1);
    color: white;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/*nav-bar*/


/*image-size*/
.pc-image{
    width: 33vw;
    height: 44vh;
}

.phone-image{
    width: 14vw;
    height: 55vh;
}
.scenario-image{
    width: 45vw;
    height: 50vh;
}
/*image-size*/

/*문맥 정리*/
.indent{
    text-indent: 2em;
}
.indent2{
    text-indent: 4em;
}
.indent3{
    text-indent: 6em;
}
.comment{
    color: grey;
    font-size: 0.9em;
}
/*문맥 정리*/

#download-button{
    border : 1px solid white;
    color: white;   
}